table {
    text-align: center;
    background: transparent;
    margin: auto;
}

td, th {
    padding: 20px;
    background: transparent;
}

.tables {
    text-align: center;
}

.admin-btn {
    margin-top: 20px;
    width: 200px;
    height: 80px;

    background-color: #81f7be;
    padding: 10px;
    border-radius: 10px;

    font-family: 'Underdog', cursive;
    font-size: 20px;
}

.admin-btn:hover {
    background-color: #a9e2f3;
}

.admin-mini-btn {
    width: 70px;
    height: 40px;

    background-color: #81f7be;
    padding: 3px;
    border-radius: 7px;

    font-family: 'Underdog', cursive;
    font-size: 14px;
}

.admin-mini-btn:hover {
    background-color: #a9e2f3;
}

.input-field {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 4px;
}

#edit_coffee, #edit_ingredient {
    margin: auto;
    width: 200px;
    text-align: center;
}