* {
    margin: 0;
    padding: 0;
    background-color: #f8e0ec;
}

body {
    width: 100%;
    height: 100%;

    font-family: 'Underdog', cursive;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    height: 100px;
    width: 100%;
    text-align: center;
}

footer {
    height: 100px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    flex: 0 0 auto;
}

a:hover {
    color: #bca9f5;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.content {
    flex: 1 0 auto;
    background: transparent;
}

.header-content {
    margin-top: 45px;
}

.footer-content {
    margin-top: 45px;
}

.footer-content a {
    font-size: 20px;
}



