table {
    text-align: center;
    background: transparent;
    margin: auto;
}

td, th {
    padding: 20px;
    background: transparent;
}

.tables {
    text-align: center;
}

.product-name-ingredient {
    margin-top: 30px;
}

.welcome-btn {
    margin-top: 20px;
    width: 200px;
    height: 65px;

    background-color: #81f7be;
    padding: 10px;
    border-radius: 10px;

    font-family: 'Underdog', cursive;
    font-size: 20px;
}

.welcome-btn:hover {
    background-color: #a9e2f3;
}

.top-up-balance-form {
    margin: auto;
    width: 200px;
    text-align: center;
    margin-top: 15%;
}

.input-field {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 4px;
}

.orders p {
    text-align: center;
}

.order {
    background: #bca9f5;
    width: 300px;
    border-radius: 20px;

    margin: 20px auto;
}

.order table {
    background: transparent;
}

.order tr {
    background: transparent;
}

.order td {
    background: transparent;
}

.order p {
    background: transparent;
    padding-bottom: 10px;
}

.order tbody {
    background: transparent;
}
